/* Fonts/colors */

:root {
    --background-color: #030105;
    --text-color: #ebe3f4;
    --primary-color: #ba97dd;
    --secondary-color: #4d2277;
    --accent-color: #9353d4;
}

body {
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(180deg, var(--background-color) 0%, var(--secondary-color) 500%);
    min-height: 100vh;
    margin: 0;
    color: var(--text-color);
}

h1 {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--primary-color);
}

/* Postions */
.headercenter {
    text-align: center;
}

 /* Nav */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background-color);
}

li {
    float: left;
}
li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
li a:hover {
    background-color: var(--secondary-color);
}